<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.springboot_portfolio.mybatis_mapper.TestMapper">

    <!-- <select id="SelectData" resultType="TestData">
            SELECT ID
                  ,NAME
                  ,COUNTRY
                  ,POPULATION
              FROM CITY
             WHERE ID = #{id}
         </select> -->

</mapper>