<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<span>잠시만 기달려주세요!<span>
    <script>
        window.location.replace("/");
    </script>

    <!--<form method="get" th:action="@{/signup}">-->
    <!--    <button class="btn btn-md btn-warning btn-block" type="submit">회원가입 페이지</button>-->
    <!--</form>-->

    <!--<div class="container">-->
    <!--    <form th:action="@{/login}" method="POST" class="form-signin" id="login_form" name="login_form">-->
    <!--        <h3 class="form-signin-heading">로그인</h3>-->
    <!--        <br/>-->

    <!--        <input class="form-control" id="loginId" name="loginId" th:placeholder="LoginId" type="text"/> <br/>-->
    <!--        <input class="form-control" id="password" name="password" th:placeholder="Password" type="password"/> <br/>-->

    <!--        <div align="center" th:if="${param.error}">-->
    <!--            <p style="font-size: 20; color: #FF1C19;">아이디 패스워드가 올바르지 않거나 비활성화된 회원입니다.</p>-->
    <!--        </div>-->

    <!--        <div align="center" th:if="${param.authError}">-->
    <!--            <p style="font-size: 20; color: #FF1C19;">만료된 토큰이거나 토큰값을 갱신하여 주시길 바랍니다.</p>-->
    <!--        </div>-->

    <!--        <button class="btn btn-lg btn-primary btn-block" name="Submit" th:text="Login" type="Submit"-->
    <!--                value="Login"></button>-->
    <!--    </form>-->
    <!--</div>-->
</body>
</html>