<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ordinary.repository.mapper.UserMapper">

    <select id="getFindUserByLoginEmail" resultType="com.ordinary.repository.dao.UserDao">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getEmailCheck" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="setSignUp" parameterType="com.ordinary.repository.dao.UserDao" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO user
        (type,
         level,
         state,
         email,
         name,
         tel,
         password,
         joinDate,
         deleteDate,
         loginDate,
         logOutDate,
         ipAddress)
        VALUES (#{userDao.type},
                #{userDao.level},
                #{userDao.state},
                #{userDao.email},
                #{userDao.name},
                #{userDao.tel},
                #{userDao.password},
                now(),
                null,
                null,
                null,
                #{userDao.ipAddress})
    </insert>

    <select id="getFindEmail" resultType="String">
        SELECT email
        FROM user
        WHERE tel = #{tel}
    </select>

    <select id="getFindPassword" resultType="String">
        SELECT password
        FROM user
        WHERE email = #{email}
    </select>

    <update id="loginDateUpDate" parameterType="string">
        UPDATE user
        SET loginDate = (now())
        WHERE email = #{email};
    </update>

    <update id="logOutDateUpDate" parameterType="com.ordinary.repository.dao.UserDao">
        UPDATE user
        SET logOutDate = (now())
        WHERE email = #{userDao.email};
    </update>

    <update id="deletDateUpDate" parameterType="com.ordinary.repository.dao.UserDao">
        UPDATE user
        SET deleteDate = (now())
        WHERE email = #{userDao.email};
    </update>

</mapper>